@import "../../common/colors.scss";

.footer {
    background-color: $secondary-color;
    height: 72px;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
}